/*@import url(fonts.css);*/


body {
    font-family: 'PT Sans', "Arial Narrow", sans-serif;
    min-height: 740px;

    /*background: #00000f;
    color: rgb(102, 102, 102);*/
    background: #1d4cab;
    color: #0f339a;
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.impress-enabled {
    pointer-events: none
}

.impress-enabled #impress {
    pointer-events: auto
}

.impress-enabled #impress-toolbar {
    pointer-events: auto
}

.impress-enabled #impress-console-button {
    pointer-events: auto
}

.step {
    position: relative;
    width: 700px;
    height: 700px;
    padding: 40px 60px;
    margin: 20px auto;

    box-sizing: border-box;

    line-height: 1.5;

    /*background-color: rgba(18, 24, 69, 0.98); #4c81c9*/
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    /*
    border: #000fff;
    border-style: double;*/

    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 40pt;
    letter-spacing: -1px;

}

.notes {
    display: none;
}

/* Overview step has no background or border */

#overview {
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
    pointer-events: none;
    display: none;
}

#overview.active {
    display: block;
    pointer-events: auto;
}

/*
    Make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.1;
    transition: opacity 1s;
}

.impress-enabled .step.active {
    opacity: 1
}

.future .fly-in {
    transform: translateY(-700px);
    opacity: 0.0; /* Make it invisible, just so it doesn't clutter some other slide that might be in the position where we moved it */
}

.present .fly-in {
    transform: translateY(0px);
    opacity: 1.0;
    transition: 2s;
}

.past .fly-out {
    transform: translateY(700px);
    opacity: 0.0;
    transition: 2s;
}

.future .fade-in {
    opacity: 0.0;
}

.present .fade-in {
    opacity: 1.0;
    transition: 3s;
}

.past .fade-out {
    opacity: 0.0;
    transition: 3s;
}

.future .zoom-in {
    transform: scale(10);
    opacity: 0.0;
}

.present .zoom-in {
    transform: scale(1);
    opacity: 1.0;
    transition: 3s;
}

.past .zoom-out {
    transform: scale(10);
    opacity: 0.0;
}

h1,
h2,
h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}

p {
    margin: 0.7em;
}

li {
    margin: 0.2em;
}

pre > code {
    font-size: 14px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

code {
    font-family: "Cutive mono", "Courier New", monospace;
}

a {
    color: inherit;
    text-decoration: none;
    /*
    padding: 0 0.1em;
    background: rgba(200, 200, 200, 0.2);
    text-shadow: -1px 1px 2px rgba(100, 100, 100, 0.9);
    border-radius: 0.2em;
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
    border-left: 1px solid rgba(100, 100, 100, 0.2);

    transition: 0.5s;
     */
}

a:hover,
a:focus {
    /*
    background: rgba(200, 200, 200, 1);
    text-shadow: -1px 1px 2px rgba(100, 100, 100, 0.5);
     */
}

blockquote {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
}

em {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strong {
    text-shadow: -1px 1px 2px rgba(100, 100, 100, 0.5);
}

q {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strike {
    opacity: 0.7;
}

small {
    font-size: 0.4em;
}

footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    font-size: large;
}

.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}

.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

body.impress-mouse-timeout {
    cursor: none;
}

.impress-progressbar {
    position: absolute;
    right: 118px;
    bottom: 1px;
    left: 118px;
    border-radius: 7px;
    border: 2px solid rgba(100, 100, 100, 0.2);
}

.impress-progressbar DIV {
    width: 0;
    height: 2px;
    border-radius: 5px;
    background: rgba(75, 75, 75, 0.4);
    transition: width 1s linear;
}

.impress-progress {
    position: absolute;
    left: 59px;
    bottom: 1px;
    text-align: left;
    font-size: 10pt;
    opacity: 0.6;
}

/* Help popup plugin */
.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    position: fixed;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    z-index: 100;
    font-family: Verdana, Arial, Sans;
}

.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}

/* =================================================== */

#challenge {
    background: red;
}

#challenge > h1 {
    margin-top: 100px;
    color: white;
}

#challenge-end {
    background: red;
}

#challenge-end > h1 {
    margin-top: 100px;
    color: white;
}

#engine > h1 {
    font-size: 20px;
    color: black;
}

#context > h3 {
    margin-top: 50px;
    font-size: 30px;
}

#event > h3 {
    margin-top: 50px;
    font-size: 30px;
    color: orange;
}

#context-conclusion > span {
    font-size: 20px;
    color: red;
}

#event-conclusion > span {
    font-size: 20px;
    color: red;
}

#context-conclusion > h1 {
    margin: 0;
}

#event-conclusion > h1 {
    margin: 0;
}

.behind {
    position: absolute;
    z-index: 0;
    color: white;
}

.above {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    text-align: center;
}

